.topArea {

    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;


    .topLeftArea {
        background-color: #ffffff;
        width: 30%;
        align-items: center;
        border-radius: 10px;
        margin-right: 10px;

        .infoField {
            font-size: 18px;
            padding: 10px;
            display: flex;

            .infoFieldImageContainer {
                .infoFieldImage {
                    max-width: 200px;
                }
            }

            .infoFieldItem {
                padding: 5px;
                text-shadow: -1px -1px 0 rgb(207, 207, 207), 1px -1px 0 rgb(207, 207, 207), -1px 1px 0 rgb(207, 207, 207), 1px 1px 0 rgb(207, 207, 207);

                .infoFieldItemTextData {
                    color: orange;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                }
            }

        }
    }

    .topCenterArea {
        width: 40%;
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;

        .pieChartArea {
            color: white;
            height: 45vh;
            width: 65%;
            border-radius: 10px;
        }


    }

    .topRightArea {
        width: 30%;
        background-color: #ffffff;
        border-radius: 10px;
        margin-left: 10px;
        height: 45vh;
        overflow-x: scroll;

        .topRightAreaText {
            padding: 10px;
            font-size: 18px;
            border-radius: 10px;

            .firstPlaceDataField {
                color: rgba(255, 99, 132, 1);
            }

            .secondPlaceDataField {
                color: rgba(54, 162, 235, 1);
            }

            .thirdPlaceDataField {
                color: rgba(255, 206, 86, 1);
            }

            .topRightAreaTextPoint {
                color: whitesmoke;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }

        .topRightAreaText:nth-child(odd) {
            background-color: rgba(102, 102, 102, 0.284);
        }
    }

    .topRightArea::-webkit-scrollbar {
        width: 5px;
    }

    .topRightArea::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 10px;
    }

    .topRightArea::-webkit-scrollbar-thumb {
        background-color: orange;
        border-radius: 10px;
    }
}

.bottomArea {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;

    .lineChartArea {
        color: white;
        background-color: #ffffff;
        border-radius: 10px;
        height: 50vh;
        width: 80vw;
        margin-right: 10px;
    }

    .bottomRightArea {
        width: 20vw;
        font-size: 15px;
        margin-left: 10px;
        background-color: #ffffff;
        border-radius: 10px;
        height: 50vh;
        overflow-x: scroll;

        .bottomRightAreaText {
            padding: 10px;
            border-radius: 10px;

            .bottomRightAreaTextPoint {
                color: whitesmoke;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }

        .bottomRightAreaText:nth-child(odd) {
            background-color: rgba(102, 102, 102, 0.284);
        }
    }

    .bottomRightArea::-webkit-scrollbar {
        width: 5px;
    }

    .bottomRightArea::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 10px;
    }

    .bottomRightArea::-webkit-scrollbar-thumb {
        background-color: orange;
        border-radius: 10px;
    }
}

.textAreaTitle {
    color: orange;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    border-bottom: 5px solid orange;
}

@media only screen and (max-width: 900px) {
    .topLeftArea {
        .infoField {
            flex-direction: column;
        }
    }

    .topCenterArea {

        .pieChartArea {
            width: 80% !important;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 800px) {
    .bottomArea {
        flex-direction: column;
    }

    .lineChartArea {
        width: 100% !important;
    }

    .bottomRightArea {
        width: 100% !important;
        margin-left: 0px !important;
        margin-top: 10px;
        padding: 0px !important;

        .bottomRightAreaText {
            padding: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .topArea {
        flex-direction: column;
    }

    .topLeftArea {
        width: 100% !important;

        .infoField {

            .infoFieldImageContainer {
                margin: auto;

                .infoFieldImage {
                    max-width: 200px;
                    display: flex;
                    justify-content: center;
                }
            }

            .infoFieldItemContainer {
                margin: auto;
            }
        }
    }

    .topCenterArea {
        width: 100% !important;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 0px !important;
        margin-right: 0px !important;

        .pieChartArea {
            width: 70% !important;
            margin: auto;
        }
    }

    .topRightArea {
        width: 100% !important;
        margin-left: 0px !important;
        margin-top: 10px;
        padding: 0px !important;

        .topRightAreaText {
            padding: 10px;
        }
    }

    .bottomArea {
        flex-direction: column;
    }

    .lineChartArea {
        width: 100% !important;
    }

    .bottomRightArea {
        width: 100% !important;
        margin-left: 0px !important;
        margin-top: 10px;
        padding: 0px !important;

        .bottomRightAreaText {
            padding: 10px;
        }
    }
}